<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="script.js"></script>
    <title>Quizex</title>
</head>

<body class="bg-gray-900 p-2 pt-8 sm:pt-24">
    <div id="entryDashboard" class="max-w-2xl text-lg mx-auto bg-slate-200 p-2 rounded-md shadow-md">
        <button class="bg-green-500" id="readyButton">I am Ready</button>
        <h1 class="text-2xl font-semibold mb-4" id="displayRound"></h1>
        <form id="enterForm">
            <input type="text" id="nameInput" />
            <button type="submit">submit</button>
        </form>
    </div>
    <div id="roomDashboard" class="max-w-2xl text-lg mx-auto bg-slate-200 p-2 rounded-md shadow-md">
        <button class="bg-green-500" id="readyButton">I am Ready</button>
    </div>
    <div id="gameDashboard" class="max-w-2xl text-lg mx-auto bg-slate-200 p-2 rounded-md shadow-md">
        <div class="flex justify-between">
            <h2 class="text-xl">Runda: <span id="displayRound"></span></h2>
            <h2 class="text-xl ">Kategoria: <span id="displayCategory"></span></h2>
        </div>

        <div class="flex flex-col gap-6 items-center">
            <form id="gameForm" class="flex flex-col gap-6 w-full">

                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 text-lg font-medium p-2 ">
                    <label id="a1" class="has-[:checked]:ring-2 ring-black has-[:checked]:scale-105 duration-300
                        cursor-pointer flex justify-center items-center bg-lime-300 rounded-md p-1">
                        <input type="radio" name="q1" value="0" class="hidden ">
                        <p class="answerA">Lorem ipsum</p>
                    </label>
                    <label id="a2" class="has-[:checked]:ring-2 ring-black has-[:checked]:scale-105 duration-300
                         cursor-pointer flex justify-center items-center bg-teal-300 rounded-md p-1">
                        <input type="radio" name="q1" value="1" class="hidden">
                        <p class="answerB">Lorem ipsum</p>
                    </label>
                    <label id="a3" class="has-[:checked]:ring-2 ring-black has-[:checked]:scale-105  duration-300
                        cursor-pointer flex justify-center items-center bg-pink-300 rounded-md p-1">
                        <input type="radio" name="q1" value="2" class="hidden">
                        <p class="answerC">Lorem ipsum</p>
                    </label>
                    <label id="a4" class="has-[:checked]:ring-2 ring-black has-[:checked]:scale-105 duration-300 
                        cursor-pointer flex justify-center items-center bg-yellow-300 rounded-md p-1">
                        <input type="radio" name="q1" value="3" class="hidden">
                        <p class="answerD">Lorem ipsum</p>
                    </label>

                </div>
                <button type="submit"
                    class="bg-purple-600 m-auto ring-1 ring-black text-white px-4 py-2 rounded-lg text-2xl hover:bg-purple-700">
                    Wyślij
                    odpowiedź
                </button>
            </form>

            <table id="scoreTable" class="">
                <thead>
                    <tr class="border-b-2 border-gray-600 p-2 flex justify-between gap-24 font-thin">
                        <th class=" m-auto">Imię</th>
                        <th class=" m-auto">Punkty</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>