<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="../styles.css">
    <title>🎲Quizex🏆</title>
</head>


<body class="bg-gray-400 p-0.5 pr-2 sm:p-2 py-2 sm:py-4 m-auto">
    <header class="p-1 my-4 relative">
        <h1 class="text-8xl font-black	flex justify-center items-end text-center text-black font-mono 
            underline decoration-wavy decoration-4 decoration-teal-400 ">
            <span class="text-3xl absolute -top-0.5 right-1/2 mr-2">🎲</span>Quizex<span class="text-3xl"></span>
        </h1>
    </header>

    <div id="entryDashboard" class="paper paper-yellow max-w-sm sm:max-w-lg text-sm sm:text-lg p-4 my-4
     m-auto  flex items-center">
        <div class="tape-section"></div>
        <form id="settingsForm" class="flex flex-col gap-4 items-center text-xl">
            <input type="text" id="nameInput" class="p-0.5 text-2xl rounded-sm font m-auto border border-black
                bg-white placeholder:text-gray-400 placeholder:text-center text-black text-center"
                placeholder="Nazwa pokoju" required />
            <div class="italic p-2 w-80 flex flex-col items-center">
                <input type="text" id="categoryInput" class="p-0.5 text-2xl rounded-sm font m-auto border border-black
            bg-white placeholder:text-gray-400 placeholder:text-center text-black text-center"
                    placeholder="Kategoria Pytań" required />
                <p class="font-mono text-lg">Kategoria może być dowolona, <b class="font-bold underline"> Quizex jest
                        połączony z
                        AI</b>. Na podstawie
                    dostarczonej
                    kategorii, są przygotowywane pytania.</p>
            </div>
            <label for="maxRounds" class="rounded-lg font-mono text-xl font-bold underline">Liczba round:</label>
            <input type="number" id="maxRounds" min="1" max="6" value="4" class="p-0.5 text-2xl rounded-sm font m-auto border border-black
                bg-white placeholder:text-gray-400 placeholder:text-center text-black text-center" />
            <label for="difficulty" class="rounded-lg  font-mono text-xl font-bold underline">Poziom trudności:
            </label>
            <select id="difficulty" name="difficulty" class="p-0.5 text-2xl rounded-sm font m-auto border border-black
                bg-white placeholder:text-gray-400 placeholder:text-center text-black text-center">
                <option value="easy" class="text-center">Łatwy</option>
                <option value="medium" class="text-center">Średni</option>
                <option value="hard" class="text-center">Trudny</option>x
            </select>
            <button type="submit" class="bg-teal-300 my-4 font-thin
            hover:shadow-none hover:rounded-xl border border-black hover:scale-[0.995]
            font-mono px-2 text-2xl duration-300 text-black rounded-lg m-auto py-1" id="readyButton"
                id="createRoom">Utwórz
                pokój</button>
        </form>
        <div class="tape-section"></div>

    </div>

</body>

</html>