body {
    background-color: #121212;
    padding: 0.5rem;
    padding-right: 2rem;
    font-family: inherit;
}

.bg-pattern {
    background-color: #c7c7c7;
    background-image: linear-gradient(#9093ce 1px, transparent 1px), linear-gradient(to right, #787cd3 1px, #f4f4f7 1px);
    background-size: 20px 20px;
}