<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="styles.css">
    <script defer src="script.js"></script>
    <title>🎲Quizex🏆</title>
</head>

<body class="bg-gray-900 p-0.5 pr-2 sm:p-2 py-2 sm:py-4 text=center m-auto">
    <header class="p-1 my-4 relative">
        <h1
            class="text-8xl font-black	flex justify-center items-end text-center text-purple-600 font-mono underline decoration-wavy decoration-4 decoration-emerald-400 ">
            <span class="text-4xl absolute -top-1 right-1/2 mr-2">🎲</span>Quizex<span class="text-4xl"></span>
        </h1>
    </header>
    <div id="entryDashboard"
        class=" bg-pattern max-w-md text-lg mx-auto ring-8 ring-emerald-500 bg-slate-200 p-4 rounded-lg shadow-gray-400 shadow-md flex flex-col items-center">

        <div id="entry" class="flex justify-center flex-col text-white text-xl gap-4 border-2">
            <input type="text" id="nameInput" class="p-1 rounded-md m-auto bg-slate-500 " placeholder="Twoje imię"
                required />

            <input id="joinRoomInput" class="p-1 rounded-md m-0 bg-slate-500 " placeholder="Nazwa pokoju" />
            <button id="connectButton"
                class="bg-blue-600 hover:bg-blue-700 duration-300 rounded-lg m-0 p-1">Dołącz</button>
            <p class="text-black text-center font-bold">lub...</p>
            <button id="createRoomButton"
                class="bg-purple-600 hover:bg-purple-700 duration-300 rounded-lg m-auto p-1">Utwórz pokój</button>
        </div>

        <form id="roomSettingsDashboard" class="opacity-0 flex flex-col gap-4 items-center text-xl font-serif">
            <input type="text" id="categoryInput"
                class="p-1 text-2xl rounded-md m-auto bg-slate-500 placeholder:text-gray-300 placeholder:text-center text-white text-center"
                placeholder="Nazwa pokoju" />
            <input type="text" id="categoryInput"
                class="p-1 text-2xl rounded-md m-auto bg-slate-500 placeholder:text-gray-300 placeholder:text-center text-white text-center"
                placeholder="Kategoria Pytań" />
            <label for="maxRounds" class="rounded-lg font-sans font-bold underline">Liczba round:</label>
            <input type="number" id="maxRounds" min="0" max="10" value="5"
                class="text-2xl bg-slate-500 text-white p-1 rounded-lg text-center" />
            <label for="difficulty" class="rounded-lg  font-sans font-bold underline">Wybierz poziom
                trudności:</label>
            <select id="difficulty" name="difficulty"
                class="text-2xl bg-slate-500 text-white p-1 rounded-lg text-center">
                <option value="easy" class="text-center">Łatwy</option>
                <option value="medium" class="text-center">Średni</option>
                <option value="hard" class="text-center">Trudny</option>x
            </select>
            <button type="submit" class="bg-purple-600 shadow-md shadow-gray-400 hover:shadow-none hover:rounded-xl 
                hover:bg-purple-700 font-sans mt-4 px-4 text-white hover:ring-2 ring-black
                text-3xl duration-300 rounded-lg m-auto py-2" id="createRoom">Utwórz
                pokój</button>
        </form>
    </div>

    </div>
    <div id="gameDashboard"
        class="hidden m-auto max-w-4xl text-lg bg-pattern h-screen p-2 pl-8 sm:pl-12 rounded-r-xl shadow-md relative">
        <p class="absolute top-1/4 left-0 ml-1 sm:ml-2 text-5xl text-gray-900">●</p>
        <p class="absolute top-3/4 left-0 ml-1 sm:ml-2 text-5xl text-gray-900">●</p>

        <div id="roomDashboard" class=" m-auto flex flex-col max-w-lg
        justify-center items-center gap-2 bg-gray-200 p-2 rounded-lg
        border-2 border-black">
            <ul class="grid grid-cols-2 text-xl" id="readyUsersList">
                <li class="text-black font-bold">Jakub ✔</li>
                <li class="text-black font-bold">Krystian1229 ✔</li>
                <li class="text-black font-bold">Jakub ❌</li>
                <li class="text-black font-bold">Maciek ❌</li>
            </ul>
            <div class="flex gap-0.5">
                <span class="text-2xl font-sans font-bold">[</span>
                <p id="displayReadyCount" class="text-2xl font-sans font-bold">2/4</p>
                <span class="text-2xl font-sans font-bold">]</span>
            </div>
            <button class="bg-white shadow-md shadow-gray-400 
            hover:shadow-none hover:rounded-xl border-2 border-emerald-500 hover:scale-[0.995]
            font-mono px-4 text-3xl duration-300 text-emerald-500 rounded-lg m-auto py-2" id="readyButton">Jestem
                gotowy</button>
        </div>

        <div class="flex justify-between gap-2 sm:gap-4">
            <div class="text-xl font-bold font-mono bg-gray-400 rounded-t-md p-1 px-2 border-2 border-black border-b-0">
                <span> Kategoria:</span>
                <span id="displayCategory" class="font-sans font-medium text-blue-800 italic">Komputery</span>
            </div>
            <div
                class="text-2xl flex-col sm:flex-row flex items-center gap-1 sm:gap-2 font-black font-mono bg-gray-400 rounded-t-md p-0.5 sm:p-1 px-1 sm:px-2 border-2 border-black border-b-0">
                <div class="flex items-start m-auto gap-1">
                    <p>Runda: </p><span id="displayRound" class="font-sans  text-blue-800">1</span>
                </div>
                <div class="flex justify-center items-center gap-1
                 border-l-2 bg-slate-900 px-1 py-0.5 rounded-lg border-gray-800">
                    <img src="./assets/userIcon.svg" class="sm:h-6 h-4 w-auto" />
                    <span id="playersLengthDisplay" class="font-sans text-green-400 text-xl">4</span>
                </div>
            </div>
        </div>

        <div class="flex flex-col gap-6 items-center">
            <form id="gameForm" class="flex flex-col gap-6 w-full ">

                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 bg-gray-200 border-2 border-black
                 shadow-sm shadow-gray-500 p-4 rounded-b-xl text-lg font-medium p-2 ">


                    <h3 id="displayQuestion" class="sm:col-span-2 text-center font-bold text-2xl">Ile waży kilogram
                        powietrza?
                    </h3>
                    <label id="a1" class="shadow-md hover:shadow-sm shadow-gray-400 has-[:checked]:shadow-none has-[:checked]:rounded-lg has-[:checked]:scale-[0.98]
                    duration-300 has-[:checked]:bg-black has-[:checked]:ring-2 ring-slate-600 has-[:checked]:text-white
                        cursor-pointer flex justify-center items-center bg-stone-300 rounded-md p-1
                        border border-black
                        ">
                        <input type="radio" name="q1" value="0" class="hidden ">
                        <p id="answerA">1kg</p>
                    </label>
                    <label id="a2" class="shadow-md hover:shadow-sm shadow-gray-400 has-[:checked]:shadow-none has-[:checked]:rounded-lg has-[:checked]:scale-[0.98]
                    duration-300 has-[:checked]:bg-black has-[:checked]:ring-2 ring-slate-600 has-[:checked]:text-white
                     cursor-pointer flex justify-center items-center bg-slate-300 rounded-md p-1
                     border border-black
                     ">
                        <input type="radio" name="q1" value="1" class="hidden">
                        <p id="answerB">1000g</p>
                    </label>
                    <label id="a3" class="shadow-md hover:shadow-sm shadow-gray-400 has-[:checked]:shadow-none has-[:checked]:rounded-lg has-[:checked]:scale-[0.98]
                    duration-300 has-[:checked]:bg-black has-[:checked]:ring-2 ring-slate-600 has-[:checked]:text-white
                     cursor-pointer flex justify-center items-center bg-slate-400 rounded-md p-1
                     border border-black
                     ">
                        <input type="radio" name="q1" value="2" class="hidden">
                        <p id="answerC">100dg</p>
                    </label>
                    <label id="a4" class="shadow-md hover:shadow-sm shadow-gray-400 has-[:checked]:shadow-none has-[:checked]:rounded-lg has-[:checked]:scale-[0.98]
                    duration-300 has-[:checked]:bg-black has-[:checked]:ring-2 ring-slate-600 has-[:checked]:text-white
                     cursor-pointer flex justify-center items-center bg-gray-400 rounded-md p-1
                     border border-black
                     ">
                        <input type="radio" name="q1" value="3" class="hidden">
                        <p id="answerD">0.001 tony</p>
                    </label>

                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
                    <table id="scoreTable"
                        class="text-xl table-fixed sm:order-none order-last bg-white bg-opacity-50 rounded-md">
                        <thead>
                            <tr class="flex justify-center border-b border-black font-mono font-black">
                                <th class=" m-auto">Imię</th>
                                <th class=" m-auto">Punkty</th>
                            </tr>
                        </thead>
                        <tbody id="scoreTableBody">
                            <tr class="flex justify-center">
                                <td class="m-auto">kuba</td>
                                <td class="m-auto">2323</td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="flex flex-col items-center justify-center gap-0.5">
                        <div class="flex gap-0.5">
                            <span class="text-lg font-sans font-bold">[</span>
                            <p id="displayReadyCount" class="text-xl font-sans font-bold">2/4</p>
                            <span class="text-lg font-sans font-bold">]</span>
                        </div>
                        <button type="submit" class=" bg-black shadow-lg shadow-gray-600
                    hover:shadow-none hover:rounded-xl border-2 border-white hover:scale-[0.995]
                    font-mono px-4 text-3xl duration-300 rounded-lg text-white m-auto py-2">
                            Wyślij
                            odpowiedź
                        </button>
                    </div>

                </div>
            </form>


        </div>
    </div>

</body>

</html>