<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="script.js"></script>
    <title>Czatex</title>
</head>
<body class="bg-gray-800 flex flex-col justify-center items-center">
    <header class="mt-4 mb-8 text-center">
        <h1 class="text-2xl sm:text-6xl text-emerald-400 font-mono ">Czatex<a class="text-white">💬</a></h1>
        <h2 class="text-lg sm:text-3xl text-pink-500"><a class="border-dashed border-b-2 border-sky-500">popisz se </a><a>z kimś </a></h2>
    </header>
    <main class="flex justify-center" >
        <form class="flex flex-col gap-2 bg-gray-700 p-2 rounded-md" id="entryForm">
            <input type="text" id="name" class="rounded-md bg-gray-900 text-white text-xl p-1.5" placeholder="Twoja nazwa"/>
            <input type="text" id="room" class="rounded-md bg-gray-900 text-white text-xl p-1.5" placeholder="Nazwa pokoju"/>
            <button type="button" value="true" id="generateBtn" class="text-xs font-mono text-emerald-400">Generuj nazwę pokoju</button>
        <button type="sumit" class="rounded-md hover:rounded-xl bg-emerald-400 hover:bg-emerald-500 duration-300 text-xl px-2 py-1 text-gray-800 font-bold">Dołącz</button>
        </form>
        <section class="hidden flex-col items-end" id="chatDashboard">
            <div class="flex items-center gap-1  bg-emerald-400 py-1 px-1.5 font-mono  rounded-t-lg">
                <p class="font-bold text-slate-700" id="roomDisplay"></p>        
                , Online: <p id="clientsDisplay" class="font-bold text-slate-700"></p>
            </div>
            
            <div class="bg-slate-950 rounded-b-lg rounded-l-lg p-1">
                <ul id="messagesList" class="flex w-max- flex-col gap-1 h-[28rem] overflow-y-scroll">
                </ul>
            <form class="flex gap-2 bg-gray-700 p-1 mt-2 rounded-b-md " id="messageForm">
                <input id="message" class="rounded-md bg-gray-900 text-white text-xl p-1.5 w-full sm:w-[36rem]" />
                <button type="submit" class="rounded-md hover:rounded-xl bg-emerald-400 hover:bg-emerald-500 duration-300 justify-center text-xl px-2 py-1 text-gray-800 font-bold flex flex-col">
                    <p class="text-xs">Wyślij</p>
                </button>
            </form>
        </section> 
    </div>
    </main>
</body>
</html>